@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #90EB66;
  --color-secondary: #145158;
  --color-optional: #606060;
}


body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
}
